name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  regression-test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "latest"

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          
      - name: Initialize Virtual Environment
        run: |
          task setup

      - name: Install Vault CLI
        run: |
          source .env
          echo "Installing Vault ${VAULT_VERSION}"
          curl -sLo vault.zip "https://releases.hashicorp.com/vault/${VAULT_VERSION}/vault_${VAULT_VERSION}_linux_amd64.zip"
          unzip vault.zip vault
          sudo mv vault /usr/local/bin/
          vault version

      - name: Run Regression Suite
        run: |
          export PATH=$PWD/.venv/bin:$PATH
          task all

      - name: Upgrade Vault to new version and re-run regression suite
        run: |
          export PATH=$PWD/.venv/bin:$PATH
          task upgrade

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: |
            report.xml
            coverage.xml
            report.html
            coverage_html/

      